<% layout("/layouts/boilerplate") %>

    <body>

        <div class="row">
            <div class="col-8 offset-2">
                <br><br>
                <h3 class="mb-3">Create New Listing</h3>
                <form action="/listings" method="post" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Add Description" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please enter a valid description
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload listing image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="row">
                        <div class="mb-3 col-mid-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">
                                Price should be valid
                            </div>
                        </div>

                        <div class="mb-3 col-mid-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Country name should be valid
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="New Town, Kolkata" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Location should be valid
                        </div>
                    </div>

                    <br><br>
                    <button type="submit" class="btn btn-dark add-btn">Add</button>
                </form>
            </div>
        </div>
    </body>